*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

body{
    font-family: 'Open Sans', Arial, Helvetica !important;
}

nav{
    background-color: #2c3e50;
}

.jumbo_style{
    background-color: #1abc9c !important;
}

h1{
    font-size: 50px !important;
}

hr{
    height: 4px !important;
}

.form_hr{
    height: 1px !important;
}

img{
    border-radius: 12px;
}

input{
    border: none !important;
}

textarea{
    width: 100%;
    border: none !important;
}

.footer_top{
    background-color: #3a546d;
}

.footer_top span{
    color: #1abc9c !important;
    cursor: pointer;
}

.footer_bottom{
    color: white;
    font-size: 14px;
    background-color: #2c3e50;
}

.rounded_div{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

